@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
body {
  font-family: "DotGothic16", sans-serif;
  background-color: #f3dae3;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-nav-li {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.main-header {
  margin-top: 50px;
  background-color: #f3d1e5;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.nav-top {
  font-size: 30px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-main {
  padding: 20px;
  margin-top: 10px;
  background-color: #d0a9c0;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.active {
  text-decoration: underline;
  letter-spacing: 3px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticket:not(:first-of-type) {
  margin-top: 20px;
}

.info {
  padding: 10px;
}

.title-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo img {
  width: 200px;
  background-position: center;
  background-size: cover;
}

.buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy:hover,
.book:hover,
.delete-product:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}

.main-login {
  padding: 20px;
  margin-top: 10px;
  background-color: #d0a9c0;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.main-login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-login input:not(:first-of-type) {
  margin-top: 10px;
}

.main-login input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}

.main-login input[type='text'] {
  text-indent: 10px;
}
/*# sourceMappingURL=main.css.map */